
body{
    font-family: sans-serif;
}
a{
    color:black;
}

.card{
    background-color: #eca407;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    width: 400px;
    text-align: left;
    margin: 5px auto;
}
.main{
    width: 30%;
}
.resources{
    text-align: center;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-container {
    display: flex;
    height: 400px;
    align-items: top;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 80%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
} 



/*
@media only screen and (max-width: 576px) {
    .col {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .col {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    .col {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .col {
        display: block;
        width: 80%;
    }
}

*/



        div {
            border: solid;
            background-color: rgb(146, 186, 224);
        }

        @media only screen and (min-width: 100px) {
            /* For tablets: */

            /* this will change the container class background to red when tablet*/

            .col {
                background-color: rgb(238, 190, 128);
            }
        }

        @media only screen and (min-width: 768px) {
            /* For desktop: will change the container class to orange*/

            .col {
                background-color: lightgray;
            }
        }

        @media only screen and (min-width: 992px) {
            /* For desktop: will change the container class to orange*/

            .col {
                background-color: lightgoldenrodyellow;
            }
        }

        @media only screen and (min-width: 1200px) {
            /* For desktop: will change the container class to orange*/

            .col {
                background-color: lavender;
            }
        }


        @media only screen and (orientation: landscape) {
            /* this will change the background to light blue when view is landscape */
            .col {
            background-color: rgb(117, 255, 140);
            }
        }